{% load compress staticfiles i18n %}<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>{% block title %}FossEvents (Beta){% endblock title %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
      {% compress css %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
      <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}" />
      {% endcompress %}
   </head>
   <body class='site {% block body_classes %}{% endblock body_classes %} '>
      <header class="site-header">
         <nav>
            <ul>
               <li><a class="site-logo" href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png' %}" /></a></li>
               {# <li><a style="padding:10px;"href="#"><button>Submit an event</button></a></li> #}

               <form class="site--search" action="{% url 'home' %}" method="GET">
                   <input type="hidden" name="src" value="typd">
                   <input type="text" placeholder="Search events…" name="q" value="{{ request.GET.q }}" {% if request.GET.q %}autofocus{% endif %}>
               </form>
            </ul>
         </nav>
      </header>
      <main class="site-content">
         {% if messages %}
         {% for message in messages %}
         <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
         {% endfor %}
         {% endif %}
         {% block content %}
         <p>Use this document as a way to quick start any new project.</p>
         {% endblock content %}
      </main>
      <footer class='site-footer'>
         <p>
             &copy; fossevents.in •
             <a href="{% url 'about' %}">About</a> |
             <a href="https://github.com/fossevents">Developers</a> |
             <a href="{% url 'privacy' %}">Privacy</a> |
             <a href="https://github.com/fossevents/fossevents.in/issues">Report an issue</a>
         </p>
      </footer>
      {% block modal %}{% endblock modal %}
      <!-- Le javascript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% block javascript %}
      <!-- Latest JQuery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <!-- place project specific Javascript in this file -->
      <script src="{% static 'js/project.js' %}"></script>
      {% endblock javascript %}
      {% if debug %}<script>{% include "devrecargar/devrecargar.js" %}</script>{% endif %}
   </body>
</html>
