{% extends "base.html" %}

{% block title %}Privacy • {{ block.super }}{% endblock title %}

{% block content %}
    <h1>Privacy Policy</h1>
    <p>Your privacy is important to Fossevents.in.  This privacy statement provides information about the personal information that Fossevents.in collects, and the ways in which Fossevents.in uses that personal information.

Credit

This document was created using a Contractology template available at   <a href="http://www.freenetlaw.com">Freenetlaw.com</a>.

Personal information collection

Fossevents.in may collect and use the following kinds of personal information:

[information about your use of this website (including personal email id);]
[information that you provide using for the purpose of registering with the website (including name and email address);]
[any other information that you post on the website.]

Using personal information

[Fossevents.in] may use your personal information to:

[administer this website;]
[personalize the website for you;]
[enable your access to and use of the website services;]
[publish information about you on the website;]

Where [Fossevents.in] discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement.

In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, [Fossevents.in] may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.

Securing your data

[Fossevents.in] will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.

[Fossevents.in] will store all the personal information you provide [on its secure servers].


Cross-border data transfers

Information that [Fossevents.in] collects may be stored and processed in and transferred between any of the countries in which [Fossevents.in] operates to enable the use of the information in accordance with this privacy policy.

[In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.]

You agree to such cross-border transfers of personal information.

Updating this statement

[Fossevents.in] may update this privacy policy by posting a new version on this website.

You should check this page occasionally to ensure you are familiar with any changes.

Other websites

This website contains links to other websites.

[Fossevents.in] is not responsible for the privacy policies or practices of any third party.

Contact [Fossevents.in]

If you have any questions about this privacy policy or [NAME'S] treatment of your personal information, please write:

by email to [contact@fossevents.in].

You must retain the "Credit" section in this document. If you wish to use the document without the "Credit" section (e.g. to project a more professional image) then you can get a license to do so here:

 HYPERLINK "http://www.contractology.com/precedents/freenetlaw-license-privacy-statement.html"http://www.contractology.com/precedents/freenetlaw-license-privacy-statement.html

It is an infringement of our copyright to use the document without the "Credit" section and without paying the license fee.
</p>
{% endblock content %}
