{% extends "base.html" %}
{% load django_markdown %}
{% block body_classes %}{{block.super}}page--event-detail{% endblock body_classes %}
{% block title %}{{ event.name }} • {{block.super}}{% endblock title %}
{% block content %}
<div class="event" role='main'>
   <article>
      <header class="event-head">
         <h1 class="event-title">{{ event.name }}</h1>
         <p class="event-dates">{{ event.date }}</p>
         <p class="event-itemdesc">
            <a href="{{ event.homepage }}" target="blank" rel="nofollow">{{ event.homepage|cut:"http://"|cut:"https://" }}</a>
         </p>
      </header>
      <hr class="simple">
      <div class="event--content">
            {{ event.description|markdown }}
      </div>
   </article>
   <hr class='accented'>
</div>
{% endblock content %}
